<div *ngIf="loadingStatus.loading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="loadingStatus?.loaded">
    <div class="age-buttons">
        <button *ngFor="let age of ages"
                (click)="onAgeButtonClick(age.value)"
                mat-stroked-button
                [ngClass]="{'active-age': (age.value === selectedAge)}">
            {{ age.value }}
        </button>
    </div>
    <div *ngFor="let item of filters">
        <app-custom-filter [item]="item" />
    </div>
    <table class="unit-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Cost (Wood / Food / Gold)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let unit of filteredUnits" (click)="goToUnitDetail(unit.id)" style="cursor: pointer;">
            <td>{{unit.id}}</td>
            <td>{{unit.name}}</td>
            <td>{{unit.age}}</td>
            <td>
                Wood: {{unit.cost?.Wood || "-"}} /
                Food: {{unit.cost?.Food || "-"}} /
                Gold: {{unit.cost?.Gold || "-"}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

